extends layout

block content
  h1= title
  p Welcome to #{title}
  p I am Dileep Sumanth Yarajala 
  button(type="button" class="btn btn-success" onclick="doReduce()") Press Me
  div#reduce Reduce the value
  script.
    let count = 20;
    let change = -1;

    function doReduce() {
      count += change;
      change -= 1;
      document.getElementById('reduce').textContent = `Count ${count} with change ${change}`;
    }