extends layout

block content
  h1= title
  p Welcome back to #{title} modifed by Dileep Sumanth Yarajala
  p
    -let image_names  =["1.jpg","2.jpg","3.jpg","4.jpg","5.jpg"]
    -for(var i=0;i<3; i++) {
        -let r = Math.floor(Math.random()*5);
        img(src=`/images/${image_names[r]}` alt=`${r}` style+'height:300px; width:300px')
    -}